<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>totalcount</param-name>
        <param-value>128</param-value>
    </context-param>
    <!--将servlet类注册到服务器中-->
    <servlet>
        <!--servlet别名-->
        <servlet-name>firstServlet</servlet-name>
        <!--servlet全类名-->
        <servlet-class>com.wnn.servlet.firstServlet</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>xixi</param-value>
        </init-param>
        <init-param>
            <param-name>age</param-name>
            <param-value>16</param-value>
        </init-param>
    </servlet>
    <!--对外发布的访问路径的映射-->
    <servlet-mapping>
        <!--找指定别名的servlet标签-->
        <servlet-name>firstServlet</servlet-name>
        <!--定义映射的路径-->
        <url-pattern>/firstServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondeServlet</servlet-name>
        <servlet-class>com.wnn.servlet.SecondeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondeServlet</servlet-name>
        <url-pattern>/SecondeServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ThridServlet</servlet-name>
        <servlet-class>com.wnn.servlet.ThridServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThridServlet</servlet-name>
        <url-pattern>/ThridServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FourthServlet</servlet-name>
        <servlet-class>com.wnn.servlet.FourthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FourthServlet</servlet-name>
        <url-pattern>/FourthServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ToHtmlServlet</servlet-name>
        <servlet-class>com.wnn.servlet.ToHtmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToHtmlServlet</servlet-name>
        <url-pattern>/ToHtmlServlet</url-pattern>
    </servlet-mapping>

</web-app>